:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
    --white: #FFFFFF
   
}

aside {
    width: 20%;
    margin-top: 50px;
    margin-left: 5%;
    float: left;
}



main .order {
    display: inline-block;
    width: 50%;
    margin-bottom: 50px;
    background-color: var(--primary);
    padding: 20px;
    border-radius: 36px 36px 36px 36px;
    color: var(--grey);
    font-size: 18px;
}

main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}